# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
dist

# testing
coverage

# misc
.cache
# .idea
# .vscode

# env variables
.env

# environment-specific
.directory
.DS_Store

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# starter-specific (can be removed)
package-lock.json
yarn.lock
